@model TelecomWeb.Models.Message

@{
    ViewData["Title"] = "Создать";
}

<h1>Создать</h1>

<h4>Сообщение</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContractId" class="control-label">Номер телефона</label>
                <select asp-for="ContractId" class="form-control" asp-items="ViewBag.ContractName"></select>
            </div>
            <div class="form-group">
                <label asp-for="MessageDate" class="control-label">Дата отправки</label>
                <input asp-for="MessageDate" class="form-control" />
                <span asp-validation-for="MessageDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsMms" /> ММС
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
